<div class="post-list-footer">
    <% apps.appz.forEach(function (appData) { %>
    <div class="spost clearfix">
        <div class="entry-image">
            <a href="/app/show/<%= appData._id %>">
                <img src="<%= appData.icon %>" alt="">
            </a>
        </div>
        <div class="entry-c">
            <div class="entry-title">
                <a href="/app/show/<%= appData._id %>"><h4 id="app-h4-color"><%= appData.name %> (<%= appData.version %>)</h4></a>
                <ul class="entry-meta"><li><%= appData.date.toDateString() %></li></ul>
            </div>
        </div>
    </div>
    <% }) %>
</div>